{% extends "index.html" %}

{% block content %}
<section class="py-5">
    <div class="container py-1">
        <h1 class="fw-bold">{{ article.title }}</h1>
        <h3 class="text-muted">{{ article.small_desc }}</h3>
        <br>
        <a href="/profile/{{ article.user.id }}" class="link-light">
            <div class="d-flex">
                {% if article.user.avatar_path %}
                <img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="100" height="100" src="{{ url_for('static', filename=article.user.avatar_path) }}">
                {% else %}
                <img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                {% endif %}
                
                <div>
                    <h2 class="fw-bold mb-1">{{ article.user.first_name }}&nbsp;{{ article.user.last_name }}</h2>
                    <h6 class="text-muted mb-0"> {% if article.user.small_desc %}{{ article.user.small_desc }}{% endif %}</h6>
                </div>
            </div>
        </a>
    </div>
    <br>
    <div class="container">
        {{ article.content | safe }}
        <hr>
        <img src="https://qrtag.net/api/qr.png" alt="qrtag">
    </div>
</section>
{% endblock content %}