{% extends "index.html" %}

{% block title %}
<title>Edit article</title>
{% endblock title %}

{% block active %}
<ul class="navbar-nav mx-auto">
    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="/services">Videos</a></li>
    <li class="nav-item"><a class="nav-link active" href="/articles">Articles</a></li>
    <li class="nav-item"></li>
    <li class="nav-item"><a class="nav-link" href="/contacts">Contacts</a></li>
</ul>
{% endblock active %}

{% block content %}

<section class="py-1">
    <div class="container py-5">
        <div class="justify-content-center">
            {% if current_user == article.user %}
            <form class="p-3" method="post">
                {{ form.hidden_tag() }}
                <div class="col-md-4 mb-3">
                    {{ form.title(class="form-control", placeholder="Title")}}
                </div>
                {% for error in form.title.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
                <div class="col-md-4 mb-3">
                    {{ form.small_desc(class="form-control", placeholder="Small description")}}
                </div>
                {% for error in form.small_desc.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
                <div class="mb-3">
                    {{ form.content.label }}
                    {{ form.content(class="form-control", rows=10, placeholder="Content")}}
                </div>
                {% for error in form.content.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
                <div class="mb-3 align-items-center">
                    {{ form.submit(class="btn btn-secondary shadow w-25 align-center") }}
                </div>
            </form>
            {% else %}
            <h1 class="display-1 text-center">Nice try, but this isn't your article.</h1>
            <h4 class="display-6 text-muted text-center">try to write something yourself lmao</h4>
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary btn-lg shadow m-2" role="button" href="/articles">Back to articles</a>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{{ ckeditor.load() }}
{{ ckeditor.config(name="content")}}
{% endblock content %}