{% extends "index.html" %}

{% block content %}
<section class="py-5">
    <div class="container py-1">
        <h1 class="fw-bold">{{ article.title }}</h1>
        <h3 class="text-muted">{{ article.small_desc }}</h3>
        <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
            <div>
                <p class="fw-bold mb-0">{{ article.user.first_name }}&nbsp;{{ article.user.last_name }}</p>
                <p class="text-muted mb-0"> {% if article.user.small_desc %}{{ article.user.small_desc }}{% endif %}</p>
            </div>
        </div>
    </div>
    <div class="container">
        {{ article.content }}
    </div>
</section>
{% endblock content %}