{% extends "index.html" %}

{% block title %}
<title>Articles - LearnIt</title>
{% endblock title %}

{% block active %}
<ul class="navbar-nav mx-auto">
    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="/services">Videos</a></li>
    <li class="nav-item"><a class="nav-link active" href="/articles">Articles</a></li>
    <li class="nav-item"></li>
    <li class="nav-item"><a class="nav-link" href="/contacts">Contacts</a></li>
</ul>
{% endblock active %}

{% block content %}
<section class="py-5">
    <div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h1 class="display-1 text-center">Articles</h1>
                <p class="w-lg-50"></p>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
            {% for article in articles %}
            <div class="col">
                <div class="p-4"><span class="badge rounded-pill bg-primary mb-2">Article</span>
                    <h4>{{ article.title }}</h4>
                    <p>{{ article.small_desc }}</p>
                    <a href="/profile/{{ article.user.id }}" class="link-light">
                        <div class="d-flex">
                            {% if article.user.avatar_path %}
                            <img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="{{ url_for('static', filename=article.user.avatar_path) }}">
                            {% else %}
                            <img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                            {% endif %}
                            <div>
                                <p class="fw-bold mb-0">{{ article.user.first_name }}&nbsp;{{ article.user.last_name }}</p>
                                <p class="text-muted mb-0"> {% if article.user.small_desc %}{{ article.user.small_desc }}{% endif %}</p>
                            </div>
                        </div>
                    </a>
                </div><a class="btn btn-primary" type="button" style="margin: 17px;" href="/article/{{ article.id }}">Read</a>
            </div>
            {% endfor %}
            {% if not articles %}<h2 class="fw-bold">No articles have been published yet</h2>{% endif %}
        </div>
    </div>
</section>
{% endblock content %}
