{% extends "index.html" %}

{% block content %}
<section class="py-5">
    <div class="container py-1">
        <h1 class="fw-bold">Hello, John Doe</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6"><img style="height: 200px;width: 200px;border-radius: 23px;" /></div>
            <div class="col-md-6">
                <p class="fs-4"><strong>Your email: </strong></p>
                <p>Text</p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}